<div class="update-item">
  <div class="update-title"><h3><%= link_to update.title, campaign_update_path(@campaign, update) %></h3></div>
  <div class="update-body"><%= raw(update.body) %></div>
</div>
