<div id="update">
  <div id="update_body">
    <div class="container clearfix">
      <div class="main_content">
        <%= render 'theme/views/update_item', :update => @update %>
      </div>
    </div>
  </div>
</div>
