<div id="update">
  <div id="update_body">
    <div class="container clearfix">
      <div class="main_content">
        <h3><%= @update.title %></h3>
        <%= raw(@update.body) %>
      </div>
    </div>
  </div>
</div>
